@import '~antd/dist/antd.css';
body{
    /* background:#f8f8f8; */
    font-family: 'Quicksand', sans-serif;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    border-right: 5px solid #EF5969;
    background: transparent
}
h1,h2,h3,h4{
    font-family: 'Quicksand', sans-serif;
}
.ant-layout-sider-trigger{
    background:#EF5969
}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-vertical .ant-menu-item, .ant-menu-dark.ant-menu-vertical-left .ant-menu-item, .ant-menu-dark.ant-menu-vertical-right .ant-menu-item{
    height: 50px;
    padding-top: 7px;
}
.backg{
    background: #FFD6D0;
}
.cover-heading{
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
    font-size: 44px;
    letter-spacing: 1px;
    color: #333178;
    float: left;
}
.img-at{
    margin: 0 auto;
}
.cover-btn{
    border: none;
    color: #fff;
    background:#EF5969;
    border-radius: 20px;
    margin-top:11px;
    font-family: 'Quicksand', sans-serif;
}